
{{#each projects}}
<div class="card" style="width: 40rem; ">
  <img src="{{{this.dataValues.photo}}}"
    class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.dataValues.title}}</h5>
    <p class="card-text">
      {{this.dataValues.description}}
    </p>
  </div>
  <p>{{this.dataValues.eventTime}}</p>
  <p>{{this.dataValues.eventDate}}</p>
  <a href="#" class="btn btn-dark">RSVP</a>
  <div class="card-body">
    <a href="projects/{{this.dataValues.id}}" class="card-link"><strong>View Event
        Details</strong></a>
  </div>
</div>
{{/each}}

<script>
  // if its a string it has 
  console.log("{{{projects}}}");
  //console.log({{{user}}});
</script>