
{{#each projects}}
<div class="card" style="width: 48rem; padding: 22px; margin: 15px;">
  <img src="{{{this.dataValues.photo}}}"
    class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.dataValues.title}}</h5>
    <p class="card-text">
      {{this.dataValues.description}}
    </p>
  </div>
  <p style="font-family: moonsans; font-size: 25px;">{{this.dataValues.eventTime}}</p>
  <p style="font-family: moonsans; font-size: 25px;">{{this.dataValues.eventDate}}</p>
  <div class="card-body">
    <a href="projects/{{this.dataValues.id}}" class="card-link" style= "font-family: moonsans; font-size: 25px;""><strong>View Event
        Details</strong></a>
  </div>
</div>
{{/each}}



