{{#each projects}}
<div class="card" style="width: 40rem; ">
  <img src="{{projects.photo}}"
    class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{projects.title}}</h5>
    <p class="card-text">
      {{projects.description}}
    </p>
  </div>
  <p>{{projects.eventTime}}</p>
  <p>{{projects.eventDate}}</p>
  <a href="#" class="btn btn-dark">RSVP</a>
  <div class="card-body">
    <a href="{{projects.link}}" class="card-link"><strong>View Event
        Details</strong></a>
  </div>
</div>
{{/each}}

<script>
  // if its a string it has 
  console.log("{{{user.userName}}}");
  //console.log({{{user}}});
</script>