<div class="container">
  <div class="card" style="max-width: 100%; width: 100%; padding: 30px;margin: 25px; font-family: moonsans; font-size: 25px;">
    <h1 class="card-title title" id="eventTitle"></h1> <br>
    <img src="" class="card-img-top cardImg" id="eventPhoto" alt="..."> <br>
    <div class="card-body">
      <p class="card-text details"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date: <span id="eventDate"></span></li>
      <li class="list-group-item">Time: <span id="eventTime"></span></li>
      <li class="list-group-item">No. of Volunteers Needed: <span id="eventVol"></span></li>
      <li class="list-group-item">Attendees: <div id="eventAttendees"></div>
      </li>
      <li class="list-group-item"> This project is <span id="eventCompleted"></span></li>
    </ul>
    <div class="card-body">
      <ul><a href="" id="projectLink" class="card-link link" target="_blank">Visit the Project's Homepage</a></ul>
      <a href="/projects" style="float:right;">View all Projects</a>
      <button id="eventJoin" class="btn btn-secondary">Join Project</button>
      <ul><button id="eventDelete"  class="btn btn-danger"> Delete Event</button></ul>
      <ul><button id="eventComplete"  class="btn btn-primary"> Complete Event</button></ul>
    </div>
  </div>
</div>
<script>

  $.get("/api/projectsId/{{view}}", function (data) {
    console.log(data)
    if (data) {
      data = data[0];
      if (data.photo && /(avatar|.(png|gif|jpg|bmp))/.test(data.photo)) {
        $("#eventPhoto").attr("src", data.photo);
      } else {
        $("#eventPhoto").attr("src", "http://simcloud.com/~atw/wp-content/uploads/2016/10/default.png")
      }
      $("#eventTitle").html(data.title);
      $("#eventDescription").html(data.description);
      if (/(http)|(wwww)/.test(data.link)){
        $("#projectLink").attr("href", data.link)
      }else{
        $("#projectLink").hide();
      }
      
      let dateSplit = data.eventDate.split("-");
      for (j = 0; j < dateSplit.length; j++) {
        month = dateSplit[1];
        day = dateSplit[2];
        year = dateSplit[0];
      }

      $("#eventDate").html(month + "/" + day + "/" + year);


      let time = data.eventTime.split(':'); // convert to array
      var hours = Number(time[0]);
      var minutes = Number(time[1]);
      var seconds = Number(time[2]);
      // calculate
      var timeValue;
      if (hours > 0 && hours <= 12) {
        timeValue = "" + hours;
      } else if (hours > 12) {
        timeValue = "" + (hours - 12);
      } else if (hours == 0) {
        timeValue = "12";
      }
      timeValue += (minutes < 10) ? ":0" + minutes : ":" + minutes;  // get minutes
      timeValue += (hours >= 12) ? " P.M." : " A.M.";  // get AM/PM

      $("#eventTime").html(time);
      $("#eventVol").html(data.capacity);
      addAttendees(data.attendees, data.UserId, data.completed);
      $("#eventCompleted").html(data.completed ? 'Completed' : 'Incomplete');

      if (data.completed) {
        removeAdminView();
      }

      if(data.attendees.length >= data.capacity){
        removeJoin();
      }
    }
  });


  function addAttendees(list, projectOwnerId, completed) {
    let currentUser = "{{user.id}}";
    let target = $("#eventAttendees");
    let total = "";

    if (completed) {
      removeJoin();
      list.forEach(function (attendee) {
        total += `<div><p>${attendee.username}<p></div>`;

      })
      return target.html(total);
    }

    if (currentUser == projectOwnerId) {
      removeJoin();
      list.forEach(function (attendee) {
        total +=
          `<div>
              <p>${attendee.username}  <button class="removeUser" data-id="${attendee.ProjectParticipant.UserId}">Remove User</button></p>
            </div>`;
      })
    } else {
      removeAdminView();
      list.forEach(function (attendee) {
        if (attendee.ProjectParticipant.UserId == currentUser) {
          //user is in group
          removeJoin();
          total +=
            `<div>
          <p>${attendee.username}  <button class="removeMe" data-id="${attendee.ProjectParticipant.UserId}">Leave</button></p>
        </div>`;
        } else {
          total += `<div><p>${attendee.username}<p></div>`;
        }
      })
    }
    target.html(total);
  }

  function removeAdminView() {
    $("#eventDelete").hide();
    $("#eventComplete").hide();
  }

  function removeJoin() {
    $("#eventJoin").hide();
  }

  $('body').on('click', '#eventJoin', function (e) {
    // handle adding user to project
    $.ajax({
      url: "/api/addParticipant",
      type: "POST",
      data: {
        UserId: "{{user.id}}",
        ProjectId: "{{view}}"
      }
    }).done(data => {
      location.reload();
    })
  });

  $('body').on('click', '#eventComplete', function (e) {
    // handle removing user from project
    $.ajax({
      url: "/api/updateProject",
      type: "PUT",
      data: {
        id: "{{view}}",
        completed: true
      }
    }).done(data => {
      location.reload();
    })
  });

  $('body').on('click', '#eventDelete', function (e) {
    // handle removing user from project
    $.ajax({
      url: "/api/deleteProject/",
      type: "DELETE",
      data: {
        id: "{{view}}"
      }
    }).done(data => {
      window.location.href = "/projects/";
    })
  });


  $('body').on('click', '.removeMe', function (e) {
    // handle removing user from project
    $.ajax({
      url: "/api/removeParticipant",
      type: "DELETE",
      data: {
        UserId: "{{user.id}}",
        ProjectId: "{{view}}"
      }
    }).done(data => {
      location.reload();
    })
  });

  $('body').on('click', '.removeUser', function (e) {
    // handle removing user from project
    $.ajax({
      url: "/api/removeParticipant",
      type: "DELETE",
      data: {
        UserId: $(e.target).data().id,
        ProjectId: "{{view}}"
      }
    }).done(data => {
      location.reload();
    })
  });
</script>