<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="background-color: #e3f2fd; font-family: moonsans; font-size: 25px;">
    <a class="navbar-brand" href="#">NiceCity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" style= "color: grey; ">Account <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>

            </li>
        {{!-- <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="font-family: moonsans; font-size: 20px;">Search</button>
        </form> --}}
    </div>
    <button type="button" class="btn btn-secondary" style="float:right;"><a class="nav-link"
            href="/logout">Logout</a></button>
</nav>
<!-- Banner At the Top -->
<div class="banner">
    <div class="profilePic">
        <button id="buttonProfilePhoto" data-toggle="modal" data-target="#postProfilePhoto"></button>
        <img id="userPhoto" src="{{user.userPhoto}}">
    </div>
    <img class="logo" src="images/finalnicecity.png">
    <div class="row">
        <div class="col-lg-12 userInformation">
            <div class="userName">Welcome Back <span id="name">{{user.userName}}</span></div>
            {{!-- <div class="userEmail" style="font-family: moonsans; font-size: 30px; color: white;">Email</div> --}}
        </div>
    </div>
    <div class="profileInfo"></div>
    <div class="tabs">
        <div class="openAttended">Attended Projects</div>
        <div class="openProjects">Upcoming Projects</div>
    </div>
</div>
<!-- Projects Attended -->
<div class="userProjectsAttended">

</div>
<!-- Projects Pending -->
<div class="userProjectsPending">

</div>
<!-- POST Modal  -->
<div class="container">
    <div class="modal fade" id="postProfilePhoto" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <form action="api/user/updatePhoto" method="POST">
                        <label style="font-family: moonsans; font-size: 20px;">Enter URL for Photo:</label>
                        <input hidden name="email" value="{{user.email}}"></input>
                        <input type="text" name="userPhoto">
                        <button id="submitButton" type="submit" class="event_form; btn btn-secondary"
                            style="font-family: moonsans; font-size: 18px;">Submit Photo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $.get("/api/completedProjects").then(function (data) {
        console.log(data)
        if (data.length === 0) {
            var noProject = $("<div>").attr("class", "noProjectAppended");
            var words =
                "<h2>Your volunteer box is currently empty. Take a peek at the latest projects posted:   <a href='/projects'>HERE<a><h2>";
            noProject.append(words);
            $(".userProjectsPending").append(noProject);
        } else {
            for (var i = 0; i < data.length; i++) {
                var month;
                var day;
                var year;
                var dateSplit = data[i].eventDate.split("-");
                console.log(dateSplit);
                for (j = 0; j < dateSplit.length; j++) {
                    month = dateSplit[1];
                    day = dateSplit[2];
                    year = dateSplit[0];
                }

                time = data[i].eventTime.split(':'); // convert to array
                var hours = Number(time[0]);
                var minutes = Number(time[1]);
                var seconds = Number(time[2]);
                // calculate
                var timeValue;
                if (hours > 0 && hours <= 12) {
                    timeValue = "" + hours;
                } else if (hours > 12) {
                    timeValue = "" + (hours - 12);
                } else if (hours == 0) {
                    timeValue = "12";
                }
                timeValue += (minutes < 10) ? ":0" + minutes : ":" + minutes;  // get minutes
                timeValue += (hours >= 12) ? " P.M." : " A.M.";  // get AM/PM

                // send this data back
                var newProject = '<div class="card" id="newProjectCard" style="width: 60rem; margin-left:18%;">' +
                    '<p class="card-text text-center">' + data[i].title + '</p>' +
                    '<img id="imageProject" src="' + data[i].photo + '" class="card-img-top" alt="">' +
                    '<div class="card-body">' +
                    '<p class="detailsProject">Details:' + data[i].description + '</p>' +
                    '</div>' +
                    '<ul class="list-group list-group-flush">' +
                    '<li class="list-group-item">Host: {{user.userName}} </li>' +
                    '</ul>' +
                    '<div class="card-body">' +
                    '<a href="' + data[i].link + '" style="float:left;">' + data[i].link + '</a>' +
                    '<div class="hours" style="width:120px; height:75px; float:right;">Date:' + month + '/' + day + '/' + year + ', Time:' + timeValue + '</div>' + '</div>' + '</div>';
                $(".userProjectsPending").prepend(newProject);
            }
        }
    });
    $.get("/api/incompletedProjects").then(function (data) {
        console.log(data)
        if (data.length === 0) {
            var noProject = $("<div>").attr("class", "noProjectAppended");
            var words =
                "<h2>Your volunteer box is currently empty. Take a peek at the latest projects posted:   <a href='/projects'>HERE<a><h2>";
            noProject.append(words);
            $(".userProjectsPending").append(noProject);
        } else {
            for (var i = 0; i < data.length; i++) {
                var month;
                var day;
                var year;
                var dateSplit = data[i].eventDate.split("-");
                console.log(dateSplit);
                for (j = 0; j < dateSplit.length; j++) {
                    month = dateSplit[1];
                    day = dateSplit[2];
                    year = dateSplit[0];
                }

                time = data[i].eventTime.split(':'); // convert to array
                var hours = Number(time[0]);
                var minutes = Number(time[1]);
                var seconds = Number(time[2]);
                // calculate
                var timeValue;
                if (hours > 0 && hours <= 12) {
                    timeValue = "" + hours;
                } else if (hours > 12) {
                    timeValue = "" + (hours - 12);
                } else if (hours == 0) {
                    timeValue = "12";
                }
                timeValue += (minutes < 10) ? ":0" + minutes : ":" + minutes;  // get minutes
                timeValue += (hours >= 12) ? " P.M." : " A.M.";  // get AM/PM

                // send this data back
                var newProject = '<div class="card" id="newProjectCard" style="width: 60rem; margin-left:18%;">' +
                    '<p class="card-text text-center">' + data[i].title + '</p>' +
                    '<img id="imageProject" src="' + data[i].photo + '" class="card-img-top" alt="">' +
                    '<div class="card-body">' +
                    '<p class="detailsProject">Details:' + data[i].description + '</p>' +
                    '</div>' +
                    '<ul class="list-group list-group-flush">' +
                    '<li class="list-group-item">Host: {{user.userName}} </li>' +
                    '</ul>' +
                    '<div class="card-body">' +
                    '<a href="' + data[i].link + '" style="float:left;">' + data[i].link + '</a>' +
                    '<div class="hours" style="width:120px; height:75px; float:right;">Date:' + month + '/' + day + '/' + year + ', Time:' + timeValue + '</div>' + '</div>' + '</div>' +
                    `<button data-id="${data[i].id}" class="completedProj">Project Completed</button><button id="deleteProj">Delete Project</button>`;
                $(".userProjectsPending").prepend(newProject);
            }
            $(".completedProj").on("click", function (e) {
                console.log($(e.target).data())
                console.log("Hello you!")
                $.ajax({
                    url: "/api/updateProject",
                    type: "PUT",
                    data: {
                        id: $(e.target).data().id,
                        completed: true
                    }
                }).done(function (data) {
                    console.log(data)
                });
            });
        }
    });
</script>