<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="background-color: #e3f2fd; font-family: moonsans; font-size: 25px;">
    <a class="navbar-brand" href="#">NiceCity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" id="profilePage">Account <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projects" id="projectPage">Projects<span class="sr-only">(current)</span></a>

            </li>
            {{!-- <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="font-family: moonsans; font-size: 20px;">Search</button>
        </form> --}}
    </div>
    <button type="button" class="btn btn-secondary" style="float:right;"><a class="nav-link"
            href="/logout" style= "color: white;">Logout</a></button>
</nav>
<!-- Banner At the Top -->
<div class="banner">
    <div class="profilePic">
        <button id="buttonProfilePhoto" data-toggle="modal" data-target="#postProfilePhoto"></button>
        <img id="userPhoto" src="{{user.userPhoto}}">
    </div>
    <img class="logo" src="images/finalnicecity.png">
    <div class="row">
        <div class="col-lg-12 userInformation">
            <div class="userName">Welcome Back <span id="name">{{user.userName}}</span></div>
            {{!-- <div class="userEmail" style="font-family: moonsans; font-size: 30px; color: white;">Email</div> --}}
        </div>
    </div>
    <div class="profileInfo"></div>
    <div class="tabs">
        <div class="openCreator">Projects Owned</div>
        <div class="openAttended">Attended Projects</div>
        <div class="openProjects">Upcoming Projects</div>
    </div>
</div>
<!-- Projects Attended -->
<div class="userProjectsAttended">

</div>
<!-- Projects Pending -->
<div class="userProjectsPending">

</div>
<!-- Projects Owned by User -->
<div class="userCreatorProject">

</div>
<!-- POST Modal  -->
<div class="container">
    <div class="modal fade" id="postProfilePhoto" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <form action="api/user/updatePhoto" method="POST">
                        <label style="font-family: moonsans; font-size: 20px;">Enter URL for Photo:</label>
                        <input hidden name="email" value="{{user.email}}"></input>
                        <input type="text" name="userPhoto">
                        <button id="submitButton" type="submit" class="event_form; btn btn-secondary"
                            style="font-family: moonsans; font-size: 18px;">Submit Photo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Javascript for tabs on Profile Page
    $(".openAttended").on("click", function () {
        $(".userProjectsAttended").show();
        $(".userProjectsPending").hide();
        $(".userCreatorProject").hide();
    });
    $(".openProjects").on("click", function () {
        $(".userProjectsAttended").hide();
        $(".userProjectsPending").show();
        $(".userCreatorProject").hide();
    });
    $(".openCreator").on("click", function (){
        $(".userCreatorProject").show();
        $(".userProjectsPending").hide();
        $(".userProjectsAttended").hide();
    });
    $.get("/api/attendingProjects/{{user.id}}").then(function (data) {
        console.log(data)
        if (data.length === 0) {
            var noProject = $("<div>").attr("class", "noProjectAppended");
            var words =
                "<h2>Your volunteer box is currently empty. Take a peek at the latest projects posted:   <a href='/projects'>HERE<a><h2>";
            noProject.append(words);
            $(".userProjectsPending").append(noProject);
        } else {
            for (var i = 0; i < data.length; i++) {
                var month;
                var day;
                var year;
                var dateSplit = data[i].eventDate.split("-");
                for (j = 0; j < dateSplit.length; j++) {
                    month = dateSplit[1];
                    day = dateSplit[2];
                    year = dateSplit[0];
                }
                // send this data back
                var newProject = '<div class="row projectLine"><div class="col-md-4">'+data[i].title+'</div><div class="col-md-4"> Date:'+month+'/'+day+'/'+year+'</div><div class="col-md-4"><a href="projects/'+data[i].id+'"+><button id="detailButton">Project Details</button></a>';
                $(".userProjectsPending").prepend(newProject);
            }
        }
    });
    $.get("/api/attendedProjects/{{user.id}}").then(function (data) {
        if (data.length === "") {
            var noProject = $("<div>").attr("class", "noProjectAppended");
            var words =
                "<h2>Your volunteer box is currently empty. Take a peek at the latest projects posted:   <a href='/projects'>HERE<a><h2>";
            noProject.append(words);
            $(".userProjectsAttended").append(noProject);
        } else {
            for (var i = 0; i < data.length; i++) {
                var month;
                var day;
                var year;
                var dateSplit = data[i].eventDate.split("-");
                for (j = 0; j < dateSplit.length; j++) {
                    month = dateSplit[1];
                    day = dateSplit[2];
                    year = dateSplit[0];
                }
                // send this data back
                var newProject = '<div class="row projectLine"><div class="col-md-4">'+data[i].title+'</div><div class="col-md-4"> Date:'+month+'/'+day+'/'+year+'</div><div class="col-md-4"><a href="projects/'+data[i].id+'"+><button id="detailButton">Project Details</button></a>';
                $(".userProjectsAttended").prepend(newProject);
            }
        }
    });
        $.get("/api/attendedProjects/{{user.id}}").then(function (data) {
        if (data.length === "") {
            var noProject = $("<div>").attr("class", "noProjectAppended");
            var words =
                "<h2>Your volunteer box is currently empty. Take a peek at the latest projects posted:   <a href='/projects'>HERE<a><h2>";
            noProject.append(words);
            $(".userProjectsAttended").append(noProject);
        } else {
            for (var i = 0; i < data.length; i++) {
                var month;
                var day;
                var year;
                var dateSplit = data[i].eventDate.split("-");
                for (j = 0; j < dateSplit.length; j++) {
                    month = dateSplit[1];
                    day = dateSplit[2];
                    year = dateSplit[0];
                }
                // send this data back
                var newProject = '<div class="row projectLine"><div class="col-md-4">'+data[i].title+'</div><div class="col-md-4"> Date:'+month+'/'+day+'/'+year+'</div><div class="col-md-4"><a href="projects/'+data[i].id+'"+><button id="detailButton">Project Details</button></a>';
                $(".userProjectsAttended").prepend(newProject);
            }
        }
    });
</script>